@import url("mocha.css"); 

* {
    font-family: "MesloLGS Nerd Font Mono Bold", monospace;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid #6c7086; /* @overlay1 */
}

/* Workspaces Styling */
#workspaces button {
    padding: 0 4px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color: #f5e0dc; /* @rosewater */
    border-top: 2px solid #f5e0dc;
}
#workspaces button.active {
    color: #cba6f7; /* @mauve */
    border-top: 2px solid #cba6f7;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* System modules */
#clock {
    color: #e64553; /* @maroon */
    border-bottom: 2px solid #e64553;
}
#clock.date {
    color: #cba6f7; /* @mauve */
    border-bottom: 2px solid #cba6f7;
}
#pulseaudio {
    color: #268bd2;
    border-bottom: 2px solid #89b4fa; /* @blue */
}
#memory {
    color: #2aa198;
    border-bottom: 2px solid #94e2d5; /* @teal */
}
#cpu {
    color: #6c71c4;
    border-bottom: 2px solid #b4befe; /* @purple */
}
#battery {
    color: #859900;
    border-bottom: 2px solid #a6e3a1; /* @green */
}
#custom-net-speed {
    color: #6c71c4;
    border-bottom: 2px solid #b4befe; /* @purple */
}
#disk {
    color: #b58900;
    border-bottom: 2px solid #f9e2af; /* @yellow */
}
#network {
    color: #f9e2af; /* @yellow */
    border-bottom: 2px solid #f9e2af;
}
#bluetooth {
    color: #cba6f7; /* @mauve */
    border-bottom: 2px solid #cba6f7;
}

/* Idle inhibitor */
#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}
#idle_inhibitor.activated {
    color: #f38ba8; /* @red */
}

/* Padding and margin tweaks */
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#bluetooth,
#custom-vpn {
    padding: 0 10px;
    margin: 2px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right #workspaces {
    margin-right: 0;
}

